/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}
body, html {
    margin: 0;
    padding: 0;
}
.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;  
}
main {
    padding: 0 10px;
}

/*pour centraliser et limiter le contenu*/
.main-container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}
.info-groupe-mobile {
padding: 0 20px;
}

/***header***/
header {
    display: flex;
    justify-content: space-between;
    align-items: start;
    color: white;
}
h1 {
    font-size: 22px;
}
header img {
    height: 20px; /* Ajuste la hauteur de l'image du logo selon les besoins */
padding: 30px;
}
nav {
    display: flex;
    gap: 68px;
    padding: 0 50px;
}
nav a {
    color: #0065FC;
    text-decoration: none;
    text-align: center;
    padding: 20px 0 0;
}
nav a:hover {
    border-top: 3px solid #0065FC
}
.barre-de-recherche {
    display: flex;
    margin: 25px 0;
  }
  
  
i {
    color: #0065FC;
     
  }
 /***section recherche***/

.formulaire-de-recherche {
    display: flex;
  }
i.fa-solid.fa-location-dot {
    color: black;
    border: none;
    padding: 15px;
    border-radius: 15px 0 0 15px;
    background-color: #F2F2F2;
}
.formulaire-de-recherche-desktop {
 
} 
.formulaire-de-recherche-desktop input {
   
    padding: 15px;
    border: 1px solid #F2F2F2;
    background-color: #FFFFFF;
  }
.formulaire-de-recherche-mobile input {
    display: none;
}  
.search-button {
    padding: 10px 20px;
    border: none;
    font-size: 18px;
    background-color: #0065FC;
    color: white;
    font-weight: 700;
    border-radius: 0 15px 15px 0;
  }
  
.search-button:hover {
      background-color: #0051c4;
  }
.search-button.mobile {
    display: none;
}
/****section filtres****/

.filtres {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin: 20px 0;
}

.filtres p {
    margin: 0;
    margin-right: 20px;
    font-weight: 700;
}

.bouton-filtres {
    display: flex;
    height: 50px; /*hauteur des boutons*/
    gap: 10px; /* Espace entre les boutons */
}

.bouton-filtres div {
    display: flex;
    align-items: center;
    padding: 4px 19px 4px 19px;
    border: 2px solid silver;
    border-radius: 25px;
    background-color: white;
    cursor: pointer;
}

.bouton-filtres div:hover {
    background-color: var(--filter-bg-color);
}

.bouton-filtres i {
    margin-right: 5px;
    color: var(--main-color);
}

.bouton-filtres a {
    text-decoration: none;
    font-weight: 700;
}
/****section infos****/

.info-bar {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.info-bar a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
}

.info-bar span {
   
    padding: 0.25em;
    margin-right: 10px; /* Espace entre l'icône et le texte */
    border: 1px solid silver;
    border-radius: 0.90em; 
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
    margin: 5px 0;
}
.card-subtitle {
    margin-top: 0px;
    margin-bottom: 5px;
}
.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    border-radius: 20px;
    padding: 0 20px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
    background-color: var(--main-bg-color);
}
.section-title {
    display: flex;
    font-weight: 700;
    font-size: 22px;
    padding: 5px;
    
}
.hebergements-title {
    padding : 20px 0;
}
.hebergements-cards {
    display: flex;
    gap: 30px;
    flex-direction: row;
    flex-wrap: wrap;
 
}
.card-content {
margin: 5px;
}
.hebergements-cards .card img{
    width : 100%;
    height: 124px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.hebergements-cards a {
    width: calc(33% - 20px);
}
.afficher-plus {
    font-weight: 700;
    font-size: 18px;
}
/****** Populaires ***********/
.populaires {
    width: 32%;
    background-color: var(--main-bg-color);
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px
}

.populaires-cards .card {
    display: flex;
    margin-top: 20px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****Activités****/
.activites {
    margin: 40px 0;
}

.activites-title {
   margin-left: 38px;
    font-weight: 700;
    font-size: 22px;
  
}

.cards {
    
    background-color: white;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.activites-cards {
    display: flex;
    gap: 30px;
    justify-content: space-around;
}    

.activites-cards .card-title {
    
    padding: 20px 1px 20px 19px; /*** aère le texte sous l'image***/
}

.cards img {
    width : 100%;
    max-width: 253px;
    height: 380px;
    object-fit: cover; /*évite la déformation des images*/
    border-top-left-radius: 20px;
    border-top-right-radius: 20px; 
}
/*****Footer*****/
footer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0 20px;
    background-color: #F2F2F2;
    margin: 0 20px;
    justify-content: flex-start;
}
.a-propos {
flex: 37%;

}

.nos-hebergements {
flex: 37%
}

.assistance {
flex: 33%;
 
}




/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .filtres {
        flex-direction: column;
        align-items: flex-start;
        margin: 20px 0;
        gap: 20px;
    }
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-bottom: 20px;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
    .cards{
    width: 210px;
    height: 270px;
    }
    .activites-cards .card-title {
        padding: 0 0 1px 19px;
    }
    .cards img {
        width: 100%; 
        max-height: 200px;
        object-fit: cover;
    }
    footer {
    width: 924px;
    margin: 0 auto; /***permet de centrer sur la page***/
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    header {
        align-items: center;
        flex-direction: column;
        color: white;
        box-shadow: 0px 3px 0px -2px #F2F2F2;
    }
      
    header img {
        height: 30px; /* Ajuste la hauteur de l'image du logo selon les besoins */
    }
    .info-groupe-mobile {
        display: flex;
        flex-direction: column;
        padding: 10px 10px 0 10px;
    }
    .info-groupe-mobile h2 {
        margin-bottom: 0px;
    }
    .info-groupe-mobile p {
        margin-top: 5px;
    
    }
    .formulaire-de-recherche-mobile {
        width:100%;
    }
    nav  {
        gap: 0;
        width: 100%;
        
    }
    nav a {
        width: 100%;
        padding: 0 0 20px;
        
    }
    nav a:hover {
        border-top: none;
        border-bottom: 3px solid #0065FC;
    } 
    .search-button.desktop {
            display: none;
        }
    i.fa.fa-search {
        color:#FFFFFF
    } 
    .formulaire-de-recherche-desktop input{
       width: 100%;
    }
    .formulaire-de-recherche-desktop {
        width: 100%;
    }
    .formulaire-de-recherche-mobile input {
        display: block;
        width: 100%;
        padding: 9px;
        border: 1px solid #F2F2F2;
        background-color: #FFFFFF;
    }
        .search-button.mobile {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px 15px; /* Adjust padding for mobile */
            border-radius: 15px;
            background-color: #0065FC;
            color: white;
            box-shadow: 5px 5px 6px #DEEBFF;
            
        }
 
    .filtres p {
        margin: 0;
        margin-right: 20px;
        font-weight: 700;
        }
    
    .bouton-filtres {
        flex-wrap: wrap;
        height: auto; /*ajuste la hauteur des boutons*/
        gap: 10px; /* Espace entre les boutons */
        }
    
    .bouton-filtres div {
        width: 129.5px;
        height: 35px;
        }
        
    .bouton-filtres div:hover {
        background-color: var(--filter-bg-color);
        }
    
    .bouton-filtres i {
        margin-right: 5px;
        color: var(--main-color);
        }
    
    .bouton-filtres a {
        text-decoration: none;
        font-weight: 700;
        }
    .info-bar {
        margin: 20px 0 0 0;
}   
    main {
        padding: 0;
     
    }   
/**hébergements et populaires**/
    .hebergements-and-populaires {
            flex-direction: column-reverse;
            background-color: transparent;
        }
    .hebergements-and-populaires section {
        border-radius: 0;
        margin: 10px 0 0 0;
    }
        .hebergements {
            width: 100%;
            margin-top: 15px;
            background-color: transparent;
        }
        .hebergements-cards {
            flex-direction: column;
            gap: 20px;
        }
        .hebergements-cards a {
            width: 100%;
        }
        .populaires-cards {
            flex-direction: column;
            padding-bottom: 30px;
        }
    
        .populaires-cards a {
            width: 100%;
        }
    
        .populaires-cards .card-title {
            font-size: 14px;
        }
    
        .populaires-cards .card-subtitle {
            font-size: 13px;
        }
        .afficher-plus {
            margin-top: 0px;  
        }
        /***Activités***/

    .cards {
            width: auto;
            height: auto;
        }
    .activites {
        padding: 0 20px;
    }    
    .activites-title {
            margin-left: 0px;
        }
    .activites-cards {
        flex-direction: column;
    }
  
    .cards img {
        height: 141px;
        max-width: none; 
    }
    .card-content {
        padding: 15px 0px
    }
    footer {
        flex-direction: column;
        margin: 0px;
    }  
    /* ... */
}